.btns {
  background: black;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btns:hover {
  background-color: white;
  color: black;
  transition: ease 500ms;
  text-align: center;
}

.btnSmall {
  background: transparent;
  font-size: 15px;
  font-weight: lighter;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
  margin-right: 6px;
  margin-bottom: 0.5rem;
  padding: 10px 20px;
  width: 100px;
}

@media screen and (max-width: 40em) {
  .btnSmall {
    &:hover {
      transform: scale(1.1);
      transition: 0.3ms ease-in-out;
      border: 1px solid #ccc;
    }
  }
}
