form {
  width: 100%;

  .formData {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  label {
    font-size: 14px;
  }

  input {
    margin-bottom: 1.5rem;
    height: 45px;
    width: 250px;
    outline: none;
    border: 1px solid grey;
    border-radius: 0.3rem;
    padding: 0.5rem;

    &::placeholder {
      font-size: 14px;
    }
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: none;
  }
}

@media only screen and (max-width: 40em) {
  form {
    input {
      width: 170px;
      height: 30px;
    }
  }
}
