.product {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  gap: 50px;

  .productLeft {
    flex: 3;
    display: flex;
    gap: 20px;
    // border: 5px solid black;
    width: 100%;

    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
    .mainImg {
      flex: 4;

      img {
        width: 100%;
        max-height: 600px;
        object-fit: contain;
      }
    }
  }

  .productRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    .size {
      max-width: 450px;
    }

    h1 {
      font-size: 30px;
      width: 500px;
    }

    .price {
      font-size: 30px;
      color: black;
      font-weight: 500;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      width: 500px;
      text-align: justify;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 130px;
      border: 1px solid black;
    }

    .addItem {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: #9fa2a6;
      }
      .add {
        width: 250px;
        padding: 15px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        font-weight: 500;
      }
    }
    .item {
      width: 250px;
      padding: 15px;
      border-radius: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      font-size: 16px;
      cursor: pointer;

      .icon {
        font-size: 12px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: 10px;
      color: gray;
      font-size: 14px;
      margin-top: 30px;

      hr {
        width: 200px;
        border: 1px solid rgb(238, 237, 237);
      }
    }

    hr {
      border: 1px solid rgb(238, 237, 237);
    }
  }
}
@media screen and (max-width: 40em) {
  .product {
    padding: 1rem;
    flex-direction: column;

    .productLeft {
      .images {
        img {
          height: 5.5rem;
        }
      }
    }

    .productRight {
      width: 100%;
      gap: 20px;
      h1 {
        font-size: 18px;
        width: 100%;
      }

      .quantity {
        display: none;
      }

      .price {
        font-size: 18px;
      }

      .addItem {
        .add {
          width: 100%;
        }
      }

      .item {
        width: 100%;
      }
      .links {
        .item:hover {
          background-color: #9fa2a6;
        }
      }
    }
  }
}
