*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  background-color: rgb(249, 247, 245);
  .left {
    flex: 1;
  }

  .right {
    flex: 1;
  }
}

.products {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    height: 100%;
    top: 50px;
  }

  .right {
    flex: 3;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
