.accordion {
  width: 100%;
  .item {
    width: 100%;
    .accordion-header button {
      background-color: transparent;
      box-shadow: none;
      font-size: 0.8rem;
    }
  }
}

.payment {
  width: 100%;
}
