.slide {
  width: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all ease;
}

.current {
  opacity: 1;
  transform: translateX(0%);
}

.catImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
  object-position: 25% 60%;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 40em) {
  .slide {
    width: 100%;
  }
}
